.App{
    position: relative;
    $ease-out: cubic-bezier(.2,.61,.41,.84);
    $accent-color: #2affa2;

    // ====================================================
    //                       MIXINS
    // ====================================================

    @mixin portfolio-button($color){
        position: relative;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 24px;
        letter-spacing: 1px;
        background-color: transparent;
        color: $color;
        padding: 5px 10px;
        border: 3px solid $color;
        cursor: pointer;
        transition: 0.4s $ease-out;
        transition-property: color, border-color;

        &:before{
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: rgba($color, 0.5);
            // mix-blend-mode: overlay;
            transition: 0.4s $ease-out;
            transition-property: width, background-color;
        }

        &:hover{
            &:before{
                width: 100%;
            }
        }

        &:active{
            &:before{
                background-color: rgba($color, 0.25);
            }
            color: rgba($color, 0.5);
            border-color: rgba($color, 0.5);
        }

        &:focus{
            outline: none;
        }
    }

    // ====================================================
    //                       ELEMENTS
    // ====================================================

    h1, h2{
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        font-size: 64px;
        letter-spacing: 1px;
    }

    // ====================================================
    //                       EXTRAS
    // ====================================================

    .portfolio-button{
        @include portfolio-button(#FFF);
    }

    .portfolio-button-color{
        @include portfolio-button($accent-color);
    }

    .inline-bar{
        content: " ";
        display: inline-block;
        height: 2px;
        background-color: white;
        vertical-align: middle;
        transform: translateY(-1px);
        margin: 0 15px;
    }

    .page-container{
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}