.Footer{
    position: relative;
    background-color: #111;
    padding: 20px;
    .copyright{
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 2px;
        vertical-align: middle;
        > * {
            vertical-align: middle;
            display: inline-block;
            margin: auto 0;
            margin-right: 10px;
        }
        p{
            transform: translateY(1px);
        }
    }
}