@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@400;600&family=Roboto+Mono:wght@400;600&display=swap');

// CSS Reset
html, body, h1, h2, h3, h4, h5, h6, div, p{
    margin: 0;
    padding: 0;
}

// Base page styling
html{
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    background-color: #333337;
}