.Project{
    position: relative;
    .project-header{
        position: relative;
        padding-top: 88px;
        height: 640px;
        overflow: hidden;
        .project-showcase{
            position: fixed;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            min-width: 100vw;
            min-height: 100vh;
            pointer-events: none;
            transform: translate(-50%, -50%);
            //mix-blend-mode: multiply;
        }
        &:after{
            content: " ";
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;
            z-index: 0;
            opacity: 0.3;
        }
        
        .project-identity{
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 25px;
            transform: translate(-50%, -50%);
        }

        .project-logo{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 500px;
            height: auto;
            pointer-events: none;
            margin: 0 auto;
            transition: width 0.3s, height 0.3s, transform 0.3s;
        }

        .project-title{
            backdrop-filter: blur(10px);
            border: 4px solid white;
            padding: 30px;
            text-align: center;
            font-size: 84px;
            text-shadow: 0 0 5px rgba(#000, 0.5);
            transition: font-size 0.3s;
        }
    }

    .portfolio-button{
        margin: 30px;
        position: fixed !important;
        z-index: 5;
        backdrop-filter: blur(15px);
    }

    .project-content{
        padding-bottom: 40px;
        .project-section{
            position: relative;
            z-index: 1;
            border: 3px solid rgba(#FFF, 0.5);
            padding: 10px;
            box-sizing: border-box;
            width: 100%;
            max-width: 960px;
            min-height: 240px;
            overflow: hidden;
            margin: 0 auto;
            margin-bottom: 20px;

            &.full-text{
                .section-description{
                    margin: 0 auto;
                    position: relative;
                    
                    &:before{
                        top: 50%;
                        left: 50%;
                        position: absolute;
                        width: 100vw;
                        transform: translate(-50%, -50%);
                        margin: none;
                        background: linear-gradient(to left, rgba(#7199d9, 0.15) 0%, rgba(#111,0) 40%, rgba(#111,0) 60%, rgba(#7199d9,0.15) 100%);
                    }
                }
            }
        }

        .section-container{
            background-color: #111;
            z-index: -1;
            position: relative;
            overflow: hidden;
            white-space: normal;
            width: 100%;
            min-height: 240px;
        }

        .section-image{
            z-index: -1;
            position: absolute;
            height: 100%;
            width: auto;

            mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
            transform: translateX(-15%);
        }

        .section-title{
            font-size: 36px;
        }

        .section-description{
            position: relative;
            padding: 15px;
            margin-left: auto;
            max-width: 400px;
            min-height: 240px;
            &:before{
                z-index: -1;
                position: absolute;
                content: " ";
                right: 0;
                top: 0;
                width: 150%;
                height: 100%;
                background: linear-gradient(to left, rgba(#111,1) 0%, rgba(#111,0) 100%);
            }
        }

        .section-text > *{
            white-space: normal;
            margin: 15px 0;
            letter-spacing: 0.1px;
        }
    }
}

@media screen and (max-width: 960px) {
    .Project{
        .project-header {
            .project-identity{
                width: 95%;
            }

            .project-title{
                font-size: 64px;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .Project{
        .section-description{
            backdrop-filter: blur(5px);
        }
    }
}

@media screen and (max-width: 640px) {
    .Project{
        .project-header {
            .project-title{
                font-size: 56px;
            }
            .project-logo{
                width: 400px;
            }
        }
    }
}